<div class="img-container">
    <img src="/assets/img/clipart1241011resizeS.png" alt="burger_img" class="img">
</div>
<h1>Burger Devourer</h1>

{{#each burgers}}
{{#unless devoured}}
<div class="left-burger">
    <input class="new-burger" type="text" value="{{id}}. {{burger_name}}" readonly></input>

    <button type="button" id="{{id}}" class="devour-btn btn btn-secondary">Devour it!</button>
</div>
{{/unless}}
{{/each}}

{{#each burgers}}
{{#if devoured}}
<div class="right-burger">
    <input class="gone-burger" type="text" value="{{id}}. {{burger_name}}" disabled></input>
</div>
{{/if}}
{{/each}}

<div class="textarea-container">
    <form id="form-submit">
        <textarea id="burger-textarea" placeholder="enter your next burger"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>